<section class="add_habit_table hidden" id="add_habit_table">
  <h2>Add Habit</h2>
  <form method="post" action="{{ url_for('add_habit_route') }}">
    <label for="habit_name">Habit's name: </label>
    <br />
    <input
      type="text"
      name="habit_name"
      style="width: 35%"
      placeholder="Name"
      required
    />
    <br />
    <label for="habit_color" style="margin-right: 5px">Habit's color: </label>
    <br />
    <input
      type="color"
      name="habit_color"
      value="#85B2FA"
      style="max-width: 15%"
    />
    <br />
    <label for="habit_emoji">Habit's emoji: </label>
    <br />
    <input
      style="width: 15%"
      type="emoji"
      inputmode="emoji"
      name="habit_emoji"
      maxlength="2"
      placeholder="emoji🔥"
    />
    <br />
    <label for="habit_interval">Interval: </label>
    Every
    <input
      style="width: 15%"
      type="number"
      name="habit_interval"
      placeholder="X"
      value="1"
      min="1"
      required
    />
    days
    <br />
    <button type="submit">Add</button>
  </form>
</section>
