{% extends "base.html" %} {% block nav %} {% include "partials/_nav_box.html" %}
{% endblock %} {% block content %}
{% if message %}
<div class="msg ok alert alert-success" role="alert">{{message}}</div>
{% endif %} {% if error %}
<div class="msg err alert alert-danger" role="alert">{{ error }}</div>
{% endif %}
<!--wrapper-->
<div class="layout-wrapper row g-3">
  <!--left sidebar-->
  <div class="left-sidebar col-md-3">
    <!--archives-->
    {% include "partials/_archives.html" %}

    <!--details-->
    {% include "partials/_details.html" %}
  </div>

  <!--main content-->
  <div class="main-content col-md-6">
    <!--Add habit form-->
    {% include "partials/_add_habit.html" %}

    <!--Habit table-->
    {% include "partials/_habit_table.html" %}
  </div>
  <!--User profile-->
  {% include "partials/_user_profile.html" %}
</div>
<!--Habit's edit modal-->
{% include "partials/_edit_modal.html" %} {% endblock %}